@font-face {
    font-family: 'MagtisExtraBold';
    src: url('/fonts/Magtis-ExtraBold-free\ personal\ use.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
 }
 
 
 .container{
    height: 100vh;
 }
 
 
 .heading h1{
    color: black;
    font-size: 6vw;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
    font-family: 'MagtisExtraBold', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 
 
 .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Space between columns */
 }
 
 
 .imageContainer {
    display: flex;
    justify-content: center;
   
 }
 
 
 .biographyContainer {
    display: flex;
    flex-direction: column;
 }
 
 
 .biographyContainer h2{
    opacity: 1;
    margin-bottom: 10px;
    font-size: 2vw;
 }
 
 
 .biographyContainer p{
    white-space: pre-wrap;
    text-align: justify;
    font-size: 1.5vw;
    padding-right: 50px;
 }
 
 
 .scontainer{
    height: 100vh;
 }

 .scontainer h2{
    opacity: 1;
    margin-bottom: 10px;
    font-size: 2vw;
    padding-left: 120px;
 }
 
 
 .sgridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Space between columns */
 }

 .sbiographyContainer {
    display: flex;
    flex-direction: column;
 }
 
 
 

 .sbiographyContainer p{
    white-space: pre-wrap;
    text-align: justify;
    font-size: 21px;
    padding-left: 100px;
 }
 
 
 .simageContainer {
    display: flex;
    justify-content: center;
   
 }
 
 
 .tcontainer{
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Full height of the viewport */
    padding: 20px; /* Optional padding */
 }
 
 
 .tgridContainer{
    display: grid;
    grid-template-columns: 1fr; /* Two equal columns */
    gap: 20px; /* Space between columns */
 }

 .tbiographyContainer {
    display: flex;
    flex-direction: column;
 }

 .tbiographyContainer h2{
    opacity: 1;
    margin-bottom: 10px;
    font-size: 3vw;
    text-align: center;
 }
 
 .timageContainer {
    display: flex;
    justify-content: center; 
 }

 .tcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
 }
 
 .tcontent p{
    white-space: pre-wrap;
    text-align: justify;
    font-size: 21px;
    max-width: 1400px;
 }
 
 
 /* Media Queries for Responsiveness */
 /* Responsive Styles */
 @media (max-width: 768px) {
    .container {
        padding: 0px;
        height: fit-content;
    }

    .heading h1 {
        font-size: 3rem;
    }

    .gridContainer {
        grid-template-columns: 1fr; /* One column on smaller screens */
    }

    .imageContainer img{
        height: 500px;
        width: 400px;
    }

    .biographyContainer {
        width: 100vw;
        padding: 0;
    }

    .biographyContainer h2 {
        font-size: 2rem;
        text-align: center;
        padding: 0;
    }

    .biographyContainer p {
        font-size: 1.1rem;
        padding: 0px 20px;
    }

    .scontainer {
        height: fit-content;
        width: 100vw;
        padding: 0;
    }

    .scontainer h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 10px;
        padding-left: 0;
    }

    .sgridContainer {
        grid-template-columns: 1fr; 
        display: flex;
        flex-direction: column-reverse;
    }
    .sbiographyContainer{
        width: 100vw;
        margin-left: -50px;
        padding: 0;
    }

    .sbiographyContainer p {
        text-align: justify;
        font-size: 1.1rem;
    }

    .simageContainer{
        height: 400px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .secimage{
        height: 400px;
        width: 90vw;
    }

    .tcontainer {
        padding: 10px;
        height: fit-content;
    }

    .tgridContainer {
        grid-template-columns: 1fr; /* One column on smaller screens */
    }

    .tbiographyContainer h2 {
        font-size: 2rem;
        text-align: center;
    }

    .timage{
        height: 300px;
        width: 90vw;
    }

    .tcontent p {
        font-size: 1rem;
        width: 90vw;
    }
}