.cardContainer {
    display: flex;
    justify-content: center; /* Center cards horizontally */
    flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
    margin: 10px; /* Space between cards */
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    width: calc(100% - 20px); /* Full width minus margins */
    max-width: 300px; /* Limit max width */
    transition: transform 0.3s ease; /* Animation for hover effect */
  }
  
  .card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
  }
  
  .cardContent {
    padding: 20px;
  }
  
  .cardImage {
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
  }
  
  .cardTitle {
    font-size: 1.5em;
  }
  
  .cardDescription {
    font-size: 1em;
  }
  
  .cardSizes,
  .cardCategory {
    font-size: 0.9em;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .cardContainer {
      justify-content: center; /* Center cards on small screens */
      padding: 10px; /* Adjust padding for smaller screens */
      margin: auto; /* Center margin */
      width: auto; /* Allow auto width for cards */
    }
  
    .card {
      width: calc(100% - 20px); /* Full width minus margins on mobile */
      max-width: none; /* Remove max-width restriction on mobile */
      margin-bottom: 15px; /* Space between cards vertically */
    }
  }
  