.container {
    display: flex; 
    height: 100vh;
    
}
    
.collectionContainer{
    width: 100%;
}

.heading{
    margin-bottom: 30px;
    font-size: 8vw;
    font-weight: 800;
}

.collectionContainer div{
    border-top: 1px solid black;
    cursor: pointer;
    position: relative;
    margin-bottom: -2vw;
    background-color: white;
}

.collectionContainer div p{
    margin: 0px;
    font-size: 5vw;
    padding-left: 10px;
    text-transform: uppercase;
    pointer-events: none;
}