@font-face {
  font-family: "MagtisExtraBold";
  src: url("../../fonts/Magtis-ExtraBold-free\ personal\ use.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

.container {
  display: flex;
  height: calc(100vh - 230px);
  width: 100%;
  background-color: white;
  background-image: url("../../public/FotoJet.jpg");

  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.collectionContainer {
  backdrop-filter: blur(2px);

  -webkit-backdrop-filter: blur(2px);
  width: 100%;
}

.heading {
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255) ;
  font-size: 5vw;
  font-weight: bolder;
  font-weight: 900;

  font-family: "MagtisExtraBold", sans-serif;
}

.collectionContainer div {
  border-bottom: 1px solid black;
  cursor: pointer;
  position: relative;
  margin-bottom: -0.5vw;

  /* background-color: white; */
}

.collectionContainer div p {
  background: none;
  margin: 0px;
  font-size: 4vw;
  color: white;
  padding-left: 10px;
  font-family: "MagtisExtraBold", sans-serif;
  pointer-events: none;
}
.collection {
  justify-content: center;
}

.linkz {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent element */
  background-color: aliceblue;
}

.linkz:hover {
  text-decoration: none;
  
  /* Ensure no underline on hover */
}

@media screen and (max-width: 768px) {

  .container {
  padding: 10px;
    height: calc(100vh - 230px);
    width: 100%;

  }
  

    .heading {
        font-size: 10vw;

    margin-top: 10px;
    }

    .collectionContainer div p {
        font-size: 7vw;
        margin: 10px;
    }

    .linkz {
        text-decoration: none; /* Remove underline */
        color: inherit; /* Inherit color from parent element */
    }

    .linkz:hover {
        text-decoration: none;
        /* Ensure no underline on hover */
    }
    
    .collectionContainer div  {
   
        cursor: pointer;
        position: relative;
        margin-bottom: 2vw;
        padding: 10px;
    
        /* background-color: white; */
    }
    
}