.container {
    display: flex; 
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/26150745/pexels-photo-26150745/free-photo-of-green-grassland-with-trees-in-countryside.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}



.collectionContainer{
    width: 100%;
}

.heading{
    margin-bottom: 30px;
    font-size: 8vw;
    font-weight: 800;
}

.collectionContainer div{
    border-top: 1px solid black;
    cursor: pointer;
    position: relative;
    margin-bottom: -2vw;
    background-color: white;
}

.collectionContainer div p{
    background:none;
    margin: 0px;
    font-size: 5vw;
    padding-left: 10px;
    text-transform: uppercase;
    pointer-events: none;
}
.collection{

    justify-content: center;
}

.linkz {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent element */
}

.linkz:hover {
    text-decoration: none; /* Ensure no underline on hover */
}
