*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MagtisExtraBold';
    src: url('../../fonts/Magtis-ExtraBold-free\ personal\ use.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

html ,
body{
    height: 100%;
    width: 100%;
    
}
