@font-face {
    font-family: 'MagtisExtraBold';
    src: url('../../../../../fonts/Magtis-ExtraBold-free\ personal\ use.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

.body{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.body a{
    color: black;
    text-decoration: none;
    // text-transform: uppercase;
}

.body p{
    margin: 19px;
    display: flex;
    overflow: hidden;
    font-family: 'MagtisExtraBold', sans-serif;
    font-size: 32px;
    padding-right: 30px;
    // padding-top: 10px;
    font-weight: 300;
}

@media only screen and (min-width: 1000px) {
    .body{
        max-width: 1200px;
        margin-top: 80px;
    }
    .body p{
        font-size: 5vw;
        padding-right: 2vw;
    }
}