@font-face {
    font-family: 'MagtisExtraBold';
    src: url('/fonts/Magtis-ExtraBold-free\ personal\ use.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hypebeast';
    src: url('/fonts/hypebeast\ Free\ Font\ .otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('/fonts/Arimo-VariableFont_wght.ttf') format('truetype');
    font-weight: normal; /* Adjust as necessary for variable fonts */
    font-style: normal; /* Adjust as necessary for variable fonts */
}

.contactContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    .head{
        font-family: 'MagtisExtraBold', sans-serif;
        letter-spacing: 3px;
    }
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px; // Space between inputs


    input,
    textarea {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        font-family: 'Arimo', sans-serif;

        &:focus {
            border-color: #ff6347; // Tomato color on focus
            outline: none;
        }
    }

    button {
        padding: 10px;
        background-color: #ff6347; // Tomato color
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #e5533d; // Darker shade on hover
        }
    }
}

.success {
    color: green;
}

.error {
    color: red;
}

/* SVG Decoration Styles */
.svgDecoration {
    position: absolute; /* Position it as needed */
    top: 20%; /* Adjust based on design */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Adjust size */
}
