/* styles.module.css */

.container {
    width: 100%;
    padding: 20px;
  }
  
  /* .backButton svg {
    margin-right: 8px; /* Space between icon and text *
  } */
/*   
  .backButton {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  } */

  /* .backButton {

background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  } */


/* CSS */
.backButton {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  /* font-family: Neucha, sans-serif; */
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.backButton:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.backButton:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
  /* .backButton:hover {
    background-color: rgba(255,255,255,0.2);
  } */

  
  
  .header {
    display: flex;
    justify-content: flex-start; /* Aligns items to the left */
    align-items: center;
  }
  
  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
  }
  
  .productList {
    width: 100%;
    text-align: center; /* Center text in product list */
  }
  
  .productCardContainer {
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: center; /* Center products */
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
  }
  
  .productCard {
    margin: 10px; /* Space between cards */
  }
  
  @media (max-width: 768px) {
    .backButton {
      padding: 8px; /* Smaller padding on mobile */
      font-size: 14px; /* Smaller font size on mobile */
      width: auto; /* Allow button to adjust width */
    }
  
    .productCardContainer {
      flex-direction: column; /* Stack cards vertically on small screens */
      align-items: center; /* Center cards */
      padding: 10px; /* Add some padding */
    }
  }
  