.nav {
  overflow: hidden;

  .wrapper {
    display: flex;
    gap: 50px;
    
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 640px) {
  .wrapper {
    margin-bottom: 0px;
    padding: 20px;
    justify-content: space-between;
  }
}
