.inner{
  background-color: black;
  .page{
      background-color: white;
  }
  .slide{
      height: fit-content;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: white;
      z-index: 1;
  }
}