/* products.module.css */

.container {
    width: 100%;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
.backButton {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  /* font-family: Neucha, sans-serif; */
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.backButton:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.backButton:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
  .backButton svg {
    margin-right: 1px; /* Space between icon and text */
  }
  
  .productList {
    display: flex;
    justify-content: center; /* Center items */
    align-items: flex-start; /* Align items at the top */
  }
  
  .productImageContainer {
    display: inline-flex; /* Use inline-flex for better alignment */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items */

  }
  
  .productImage {
    width: auto; /* Fixed width for image */
    height: 640px; /* Maintain aspect ratio */
  }
  
  .contactContainer {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-top: 10px;
  }
  
  .productDetails {
    display: flex;
    width: 600px;
    /* align-items: center; */
    flex-direction: column; /* Stack details vertically */
    padding-left: 20px; /* Add padding for spacing */
  }
  
  .productTitle {
    font-size: 2em; /* Larger font size for title */
  }
  
  .productCategory {
    font-weight: bold; /* Bold category text */
  }
  
  .productDescription {
     margin-top:10px; 

  }
  @media screen and (max-width: 768px) {

    .productDetails {
      width: 100%; /* Full width on small screens */
      padding-left: 0; /* Remove padding on small screens */
    }

    .productList {
      flex-direction: column; /* Stack product details vertically on small screens */
      align-items:center; /* Center products on small screens */
    }

    .productImageContainer {
      align-items: center; /* Center image on small screens */
    }   

    .productImage {
      width: 100%; /* Full width on small screens */
      height: auto; /* Maintain aspect ratio */
    }

    .productTitle {
      font-size: 1.5em; /* Larger font size for title on small screens */
    }
    
  }

/* media query for large screens */



  /* Responsive adjustments */
  @media (max-width: 768px) {
    .productDetails {
      width: 100%; /* Full width on small screens */
      padding-left: 0; /* Remove padding on small screens */
    }
   .header {
     flex-direction: column; /* Stack header items on small screens */
     align-items: flex-start; /* Align items to the left */
     padding-bottom:10px; /* Adjust padding */
   }
  
   .backButton {
     padding:8px; /* Smaller padding on mobile */
     font-size:14px; /* Smaller font size on mobile */
     margin-bottom:10px; /* Add margin below button for spacing */
   }
  
   .productList {
     flex-direction: column; /* Stack product details vertically on small screens */
     align-items:center; /* Center products on small screens */
   }
   .contactContainer {
    /* Stack contact container vertically on small screens */
   
     margin-top: 10px; /* Add margin for spacing */
     margin-bottom: 10px; /* Add margin for spacing */
   }
  }
  